.formContainer {
  min-height: 100vh;
  /* background-color: rgba(99, 164, 255, 0.2); */
}

.logInformstyle {
  background-color: white;
  min-height: 600px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  justify-content: space-evenly;
  border: 2px solid #1976D2;
  border-radius: 10px;
}

.formInputContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}

button.formSubmitBtn {

}